.query-page {
    width: 380px;
    height: 30px;
    display: flex;
    justify-content: center;
    .page-mian-item {
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
    }
    .query-btn {
      border-radius: 4px;
      border: 1px solid rgb(255, 162, 75);
      background: rgb(253, 140, 1);
      margin: 0px 10px;
      color: white;
      text-align: center;
      box-sizing: border-box;
    }
  }